/* @font-face {
  font-family: 'meetup-icons';
  src: url('../data/assets/fonts/meetup-icons/meetup-icons.eot');
  src:
    url('../data/assets/fonts/meetup-icons/meetup-icons.eot') format('embedded-opentype'),
    url('../data/assets/fonts/meetup-icons/meetup-icons.woff2') format('woff2'),
    url('../data/assets/fonts/meetup-icons/meetup-icons.woff') format('woff'),
    url('../data/assets/fonts/meetup-icons/meetup-icons.ttf') format('truetype'),
    url('../data/assets/fonts/meetup-icons/meetup-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../data/assets/fonts/Noto-Sans/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../data/assets/fonts/Noto-Sans/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../data/assets/fonts/Noto-Sans/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../data/assets/fonts/TT-Hoves/TTHoves-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../data/assets/fonts/TT-Hoves/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */
